* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: darkgreen;
    margin:0;
    background:cover;
    background-image: url ("https://images.pond5.com/pan-eastern-deciduous-forest-spring-footage-080809673_iconl.jpeg");
    /* background-image: url ("https://www.nps.gov/im/ncrn/images/I-M_20061027_AutumnColors_51_lg.jpg"); */
    /*background-color: darkslategrey;*/
}
header {
    margin-top: 25px;
    height: 70px;
    color: blue;
    margin-bottom: 55px;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

header h1 {
    line-height: 1;
    top:24px;
    text-align: center;
  }

fieldset {
    width:80%;
    padding: 40px;
    margin:0 auto;
    background: lightslategray;
    text-align: center;
  }

 .question-and-score ul {
    text-align: center;
    list-style-type: none;
}